

<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Super site web</title>
  <link rel="stylesheet" href="style.css">
  <script src= »https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js »></script>


</head>

<body>


	<div class="navbar">
		<div class="navbar-logo">
			<%= image_tag "superman.png" %>
		</div>
	  <a href="#home">Home</a>
	  <a href="#news">News</a>
	  <a href="#news">News</a>
	  <div class="dropdown" class="dropbtn">
	  	<%= image_tag "moi.jpg", class:"dropbtn"  %>
		    <div class="dropdown-content"> 
		      <div class="row">
		        <div class="column">
		          <a href="#">Link 1</a>
		          <a href="#">Link 2</a>
		          <a href="#">Link 3</a>
		        </div>
		      </div>
    </div>
  </div> 
</div>

<div class="banner">
	<h1>Est-ce un oiseau, est-ce un avion, non c'est super-man </h1> 
</div>

<div class="button">
		<a href="#">Click on me </a>
	</div>	
	


	<div class="avatar">
		<%= image_tag "moi.jpg" %>
	
	<H2>Louis Martin du Nord</H2>
<p>Journalist at the Daily Planet</p>

</div>

</body>


