

<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Super site web</title>
  <link rel="stylesheet" href="style.css">
  <script src= »https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js »></script>


</head>

<body>
	<div class="navbar">
		<div class="navbar-logo">
			<%= image_tag "superman.png" %>
		</div>
	  <a href="#home">Batman</a>
	  <a href="#news">Superman</a>
	  <a href="#news">Wonderwoman</a>
	  <div class="dropdown" class="dropbtn">
	  	<%= image_tag "moi.jpg", class:"dropbtn"  %>
		    <div class="dropdown-content"> 
		      <div class="row">
		        <div class="column">
		          <a href="#">Link 1</a>
		          <a href="#">Link 2</a>
		          <a href="#">Link 3</a>
		        </div>
		      </div>
    </div>
  </div> 
</div>

<div class="banner">
	<h1>Est-ce un oiseau, est-ce un avion, non c'est super-man </h1> 
</div>



<div class="tabs">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Batman</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Superman</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Wonderwoman</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Flash</label>

  <section id="content1">
    <p>
      PEOPLE NEED DRAMATIC EXAMPLES TO SHAKE THEM OUT OF APATHY AND I CAN’T DO THAT AS BRUCE WAYNE
    </p>
    
  </section>

  <section id="content2">
    <p>
      “You’re much stronger than you think you are, trust me.
    </p>
    
  </section>

  <section id="content3">
    <p>
      “What one does when faced with the truth is more difficult than you’d think.”
    </p>
    
  </section>

  <section id="content4">
    <p>
      My whole life I felt like I was different form everybody else and I didn’t know why. You took a choice away from me that I didn’t even know I had. A choice to be a hero. Like my dad”
    </p>
    
  </section>
</div>	

<div class="text">
<h2>Relations entre Batman et Superman</h2>
<p>
Des années 1950 à 1986, les deux hommes s'entendent très bien et sont très bons amis. Ils sont membres de la Société de justice d'Amérique puis de la Ligue de justice d'Amérique et luttent souvent côte à côte. Ils partagent un comics intitulé World's Finest Comics et leur amitié est basée sur un respect mutuel. Bien que l'un soit doté de pouvoirs extraordinaires, ils s'estiment égaux. Au combat, leurs valeurs sont identiques et tous deux sont d'une moralité irréprochable. À partir de 1986, sous l'influence de la mini-série Batman: Dark Knight de Frank Miller dans laquelle les deux personnages deviennent ennemis, les relations se distendent et sont plus conflictuelles. Ils sont alliés mais ont des visions différentes de la vie qui les amènent parfois à se combattre112. Bien que Superman semble devoir le vaincre, à chaque fois, Batman remporte la victoire120. L'arrêt en 1986 de World's Finest Comics est l'indice de cette transformation des rapports entre les deux héros. Un autre indice de cette évolution dans les comics montre que Batman garde un anneau de kryptonite confié par Superman, au cas où ce dernier, manipulé, se retournerait contre ses proches. Il se méfie de Superman, car il craint que sa puissance perturbe son esprit. Par exemple, dans l'avant-dernier épisode de Batman Beyond, Bruce Wayne remet un morceau de kryptonite verte à Terry, lorsque celui-ci lui apprend que le traître est Superman. Bruce n'est pas surpris : il fait comprendre à Terry que cela devait arriver un jour ou l'autre, même s'il s’avère que Superman était manipulé126.
</p>
</div>

<div class="avatar">
	<%= image_tag "moi.jpg" %>	
	<H2>Louis Martin du Nord</H2>
	<p>Journalist at the Daily Planet</p>
</div>

<div class="button">
	<a href="#">Click on me </a>
</div>	

</body>


