/*.avatar{
  border: solid 1px black;
  width: 30%;
}*/

.avatar >img{
border-radius: 50%;
vertical-align: middle;
margin: auto;
margin-right: auto;
width: 75%;
display: flex;
justify-content: center; 
align-items: center;
position: relative;
left:100%;

 
}

#identity {  
justify-content: center; 
align-items: center;
position: relative;
left:116%;
  
}

#job {
justify-content: center; 
align-items: center;
position: relative;
left:100%;
}