
.button{
     font-family: Arial,sans-serif;
     font-size: 1.6em;
     width: 200px;
     height: 43px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
      border-radius: 8px;
       text-shadow: 0px 1px 0px white;
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
         box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
   
.button:hover{
     color: #222;
     background: #555;
     background: linear-gradient( #777, #333);
}

.button:active{
     color: #000;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}

.button a{
	text-decoration: none;
	color: #000;
}


.banner{
  background-image: url('/assets/superman.jpg');
  background-repeat: no-repeat;
   background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0.80;
  padding-top: 100px;
}

.banner > h1{
text-align: center !important;
color: #ffffff;
width: 100%;
}


.avatar{
  border: solid 1px black;
  width: 30%;
}
.avatar >img{
border-radius: 50%;
vertical-align: middle;
margin-left: auto;
margin-right: auto;
width: 150px;
display: flex;
justify-content: center; 
align-items: center; 
}

.avatar >h2, p{  
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar  img{
float: left;
 padding: 14px 16px;
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;

}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.column a:hover {
  background-color: #ddd;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

